---
import TerminalLayout from '../layouts/TerminalLayout.astro';
import { PREFIX } from '../constants';
---

<TerminalLayout title="Cameron Bond">
	<div>
		<div class="terminal-line"><span class="prompt">{PREFIX}</span>:~$
		<span class="command">ls</span></div>
		<pre class="ls-output">
<a href="/info">info	</a><a href="/projects">projects</a>
		</pre>
		<div><span class="prompt">{PREFIX}</span>:~$ <span class="command">ls</span> ./projects</div>
		<pre class="ls-output">
<a href="/mips">NAME</a>
		</pre>
		<div><span class="prompt">{PREFIX}</span>:~$ <span class="cursor">█</span></div>
	</div>
</TerminalLayout>